.frame {
	box-shadow: 0 4px 6px #2d1b0d, 0 20px 25px -5px rgb(0 0 0 / 0.1),
		0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.sky {
	background: #f8b45e;
	background: linear-gradient(
		59deg,
		rgba(248, 180, 94, 1) 0%,
		rgba(179, 81, 30, 1) 100%
	);
}
