.frame {
	box-shadow: 0 4px 6px #2d1b0dc7, 0 20px 25px -5px #2d1b0d26,
		-4px 5px 21px -3px #2d1b0da6;
	overflow: hidden;
}

.sky {
	background: #f8b45e;
	background: linear-gradient(
		59deg,
		rgba(248, 180, 94, 1) 0%,
		rgba(179, 81, 30, 1) 100%
	);
}

.lanscape {
	list-style: none;
	margin: 0;
	padding: 0;
}

.mountains {
	background-image: url("./assets/imgs/mountains.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 108%;
	height: 300px;
	bottom: -35px;
	left: -8px;
}
.moon {
	background-color: #fcf8c9;
	width: 182px;
	height: 182px;
	border-radius: 50%;
	left: 120px;
	top: 48px;
	position: absolute;
}

.lake {
	background-color: #a57b51;
}

.terrain {
	background-image: url("./assets/imgs/earth.svg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 119%;
	height: 141%;
	bottom: -110px;
	left: -70px;
	z-index: 10;
}

.reflections {
	background-image: url("./assets/imgs/water-bottom.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 105%;
	height: 103px;
	bottom: -115px;
	left: -10px;
}

.reflections-two {
	background-image: url("./assets/imgs/water-mid.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 105%;
	height: 76px;
	bottom: -45px;
	left: -10px;
}

.reflections-three {
	background-image: url("./assets/imgs/water-top.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 105%;
	height: 33px;
	bottom: 38px;
	left: -10px;
}

.boat {
	background-image: url("./assets/imgs/barco.svg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 150px;
	height: 150px;
	bottom: 23px;
	right: -13px;
	z-index: 5;
}

.trees {
	background-image: url("./assets/imgs/trees.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 113%;
	height: 540px;
	bottom: -131px;
	left: -35px;
	z-index: 15;
}

.swaying {
	-webkit-animation: sway 3s ease-in-out infinite alternate;
	-moz-animation: sway 3s ease-in-out infinite alternate;
	animation: sway 3s ease-in-out infinite alternate;
}

.waving {
	-webkit-animation: wave 3s ease-in-out infinite alternate;
	-moz-animation: wave 3s ease-in-out infinite alternate;
	animation: wave 3s ease-in-out infinite alternate;
}

.waving-slower {
	-webkit-animation: wave 3.5s ease-in-out infinite alternate;
	-moz-animation: wave 3.5s ease-in-out infinite alternate;
	animation: wave 3.5s ease-in-out infinite alternate;
}

@keyframes wave {
	0% {
		transform: rotateZ(0deg) translate3d(0px, 2%, 0px) rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg) translate3d(0px, 2%, 0px) rotateZ(-360deg);
	}
}

@keyframes sway {
	0% {
		-webkit-transform: translate3d(3%, 0, 0) rotateZ(3deg);
		-moz-transform: translate3d(3%, 0, 0) rotateZ(3deg);
		transform: translate3d(3%, 0, 0) rotateZ(3deg);
	}

	100% {
		-webkit-transform: translate3d(-3%, 0, 0) rotateZ(-3deg);
		-moz-transform: translate3d(-3%, 0, 0) rotateZ(-3deg);
		transform: translate3d(-3%, 0, 0) rotateZ(-3deg);
	}
}
