.frame {
	box-shadow: 0 4px 6px #2d1b0dc7, 0 20px 25px -5px #2d1b0d26,
		-4px 5px 21px -3px #2d1b0da6;
	overflow: hidden;
}

.sky {
	background: #f8b45e;
	background: linear-gradient(
		59deg,
		rgba(248, 180, 94, 1) 0%,
		rgba(179, 81, 30, 1) 100%
	);
}

.lanscape {
	list-style: none;
	margin: 0;
	padding: 0;
}

.mountains {
	background-image: url("./assets/imgs/mountains.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width: 105%;
	height: 300px;
	bottom: -32px;
	left: -8px;
}
.moon {
	background-color: #fcf8c9;
	width: 182px;
	height: 182px;
	border-radius: 50%;
	left: 120px;
	top: 48px;
	position: absolute;
}

.lake {
	background-color: #a57b51;
}

.terrain {
	background-image: url("./assets/imgs/earth.svg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 110%;
	height: 137%;
	bottom: -116px;
	left: -47px;
	z-index: 10;
}

.reflections {
	background-image: url("./assets/imgs/water-reflex.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 110%;
	height: 300px;
	bottom: -138px;
	left: -5px;
}

.boat {
	background-image: url("./assets/imgs/barco.svg");
	background-size: contain;
	background-repeat: no-repeat;
	width: 150px;
	height: 150px;
	bottom: 23px;
	right: -13px;
	z-index: 10;
}

.trees {
	background-image: url("./assets/imgs/trees.png");
	background-size: cover;
	background-repeat: no-repeat;
	width: 104%;
	height: 509px;
	bottom: -122px;
	left: -19px;
	z-index: 15;
}

.swaying {
	-webkit-animation: sway 3s ease-in-out infinite alternate;
	-moz-animation: sway 3s ease-in-out infinite alternate;
	animation: sway 3s ease-in-out infinite alternate;
}

@keyframes sway {
	0% {
		-webkit-transform: translate3d(3%, 0, 0) rotateZ(3deg);
		-moz-transform: translate3d(3%, 0, 0) rotateZ(3deg);
		transform: translate3d(3%, 0, 0) rotateZ(3deg);
	}

	100% {
		-webkit-transform: translate3d(-3%, 0, 0) rotateZ(-3deg);
		-moz-transform: translate3d(-3%, 0, 0) rotateZ(-3deg);
		transform: translate3d(-3%, 0, 0) rotateZ(-3deg);
	}
}
